#searchWrap {
  bottom: 8px;
  height: 93px;
  position: absolute;
  width: 96%;
  border-top: 1px solid #FDD9E4;
  border-radius: 0px;
}
#searchWrap .search_keyword{
 position: absolute;
    bottom: 0px;
    left: 136px;
   
}
.search_keyword a{
 font-size: 12px;
 color:#896A6A;
 margin-left:15px;
}
.search_keyword a:hover{
color:#FD1010;
}
.csearch-box {
  position: absolute;
  left: 101px;
  top: 9px;
  z-index: 1;
}
.cnav-list {
  margin: 0 0 0 2px;
  margin-left: 32px;
}
.clearfix {
  zoom: 1;
}
.cnav-list li {
  float: left;
  font-size: 14px;
  width: 45px;
  text-align: center;
}
.cnav-list li a {
  display: block;
  padding: 5px 0;
  padding: 4px 0\9;
  color: #FF5400;
  font-family: Arial;
}
.cnav-list .current a {
  font-weight: bold;
  color: #fff !important;
  border-bottom: 2px solid #F68787;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
  background: #ff0000;
}
.cnav-list .current a:hover{
    cursor:default;
    color:#F00;
}
.cnav-list li a:hover{
    border-bottom:2px solid #FAA5A5;
    text-decoration:none !important;
    color:#ffffff !important;;
}
.c-fm-w {
  position: relative;
  display: inline-block;
  margin: 3px 0 0 0;
  z-index: 2;
  width: 608px;
  border-radius: 25px;
  width: 838px !important;
}
.s-inpt-w {
  display: inline-block;
  width: 585px;
  height: 37px;
  background-position: 0 -67px;
  vertical-align: top;
  margin-left: 5px;
  margin-right: 5px;
}
.s-inpt {
  border: none;
  outline: none;
  background: transparent;
  width: 95%;
  font: 16px arial;
  height: 25px;
  padding: 7px 5px 3px;
  padding: 9px 5px 2px\9;
  position: relative;
  z-index: 5;
  background: #FAA5A5;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: #eff0f0;
}
.s-btn-w {
  cursor: pointer;
  display: inline-block;
  height: 37px;
  width: 210px;
}
.s-btn-w a{
color:#D80321;
}
.s-btn {
  cursor: pointer;
  height: 34px;
  width: 88px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: none;
  background: none;
  position: relative;
  z-index: 1;
  background: #F00;
  color: white;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.sg-wrap {
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 9999;
  border: 1px solid #bfbfc8;
  width: 503px;
  background-color: #fff;
  font-size: 12px;
}
input:-webkit-autofill { 
-webkit-box-shadow: 0 0 0px 1000px white inset; 
background-image: none; 
color: #000; 
} 