@charset "utf-8";
/* reset */
h1,h2,h3,p,ul,li,ol,dl,dd,dt,body{margin:0;padding:0;}
ul,li,ol{list-style:none;}
h1,h2,h3,strong{font-weight:normal;}
em{font-style: normal;}
a{outline:none;}
img{border:0;outline:none;display:block;margin-left: auto;margin-right: auto;}
body{
    font: 14px/1.14 Simsun,Arial;
}