div,
ul,
ol,
li,
p,
th,
td{
    margin:0;
    padding:0;
      -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
li {
    list-style: none;
}
img{
    border:0;
}
.clear:after{
    content:'.';
    display:block;
    visibility:hidden;
    height:0;
    line-height:0;
    font-size:0;
    clear:both;
}
.clear{
    zoom:1;
}
.sg-wrap {
    position:absolute;
    top:35px;
    left:0;
    z-index:9999;
    border:1px solid #bfbfc8;
    width:503px;
    background-color:#fff;
    font-size:12px;
}
.sg-wrap .sg-result-list {
    font-size:14px;
    color:#000;
}
.sg-wrap .sg-result-list .default_menu_s,
.sg-wrap .sg-result-list .default_menu_z {
    background-color:#ebebeb;
}
.sg-wrap .sg-result-list .default_menu_z .havesg,
.sg-wrap .sg-result-list .havesg,
.sg-wrap .sg-result-list .default_menu_s .havesg{
    background:url(../Public/image/sob_pic.gif) no-repeat;
}
.sg-wrap .sg-result-list .sg-hightlight{
    color:#c60a00;
    text-decoration:underline;
}
.sg-wrap .sg-result-list .havesg {
    position:absolute;
    right:8px;
    top:50%;
    margin:-5px 0 0;
    width:7px;
    height:11px;
    background-position:0 -11px;
    overflow:hidden;
}
.sg-wrap .sg-result-list .sg-from {
    display:block;
    color:#007b43;
    font-size:12px;
    line-height:1.5;
    font-style:normal;
}
.sg-wrap .sg-result-list li {
    position:relative;
    padding:7px 0 7px 8px;
    cursor: default;
    _zoom:1;
}
.sob-wrap {
    width:305px;
    border-left:1px solid #ededed;
    position:relative;
    vertical-align: top;
    padding:0 0 29px 0;
}
.sob-wrap a{
    text-decoration:none;
}
.sob-wrap a:hover{
    text-decoration:underline;
}
.sob-wrap .sgob-title{
    font-size:14px;
    font-weight:bold;
}
.sob-wrap .sgob-title a{
    color:#000;
    text-decoration:none;
}
.sob-wrap .sob-close{
    position:absolute;
    top:6px;
    right:6px;
    font-size:17px;
    color:#a5a5a5;
    font-family:"\5B8B\4F53";
    cursor:pointer;
}
.sob-wrap .sob-close:hover{
    text-decoration:none;
    color:#2c2f32;
}
.sob-wrap .sob{
    margin:-5px 0 0 15px;
}
.sob-wrap .sob .sob-hd{
    font-weight:bold;
    font-size:14px;
    margin:0 0 10px 0;
}
.sob-wrap .sob .sob-hd a{
    color:#000;
}
.sob-wrap .sob-info{
    position:absolute;
    top:50%;
    margin:-10px 0 0 0;
    height:20px;
    width:248px;
    text-align:center;
    color:#808080;
}
.sob-ext {
    position:absolute;
    bottom:0;
    line-height:29px;
    width:305px;
    background-color:#fbfbfb;
    text-align:right;
    font-family:"\5B8B\4F53";
}
.sob-ext .sg-more-link {
    color:#808080;
    text-decoration:none;
    margin-right:10px;
}
.sob-ext .sg-more-link:hover {
    text-decoration:underline;
}
