html{
}
body {
	margin:0;
	padding:0;
	font:12px/1.5 '微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
	color:#24211c;
	background-color:#f2f2f2;
}
body.bg{
	background-color:#000000;
	background-image:url(../Public/image/bg_home.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:center -35px;
}
ul,li{
	margin:0;
	padding:0;
	list-style-type:none;
}
img{
	border:none;
}
.imgdb{
	display:block;
}
.wrapper{
	width:1000px;
	margin:0 auto;
}
a,a:link,a:active,a:visited {
	color:#24211c;
	text-decoration:none;
}
a:hover {
	color:#ea7914;
	text-decoration:none;
}
.bluelink a,.bluelink a:link,.bluelink a:active,.bluelink a:visited {
	color:#DDDDDD;
	text-decoration:none;
}
.bluelink a:hover {
	text-decoration:underline;
}
a.blink,a.blink:link,a.blink:active,a.blink:visited {
	color:#1b66c3;
	text-decoration:none;
}
a.blink:hover {
	color:#ea7914;
	text-decoration:none;
}
.olink a,.olink a:link,.olink a:active,.olink a:visited {
	color:#ea7914;
	text-decoration:none;
}
.olink a:hover {
	text-decoration:underline;
}
.h595{
	height:595px;
}
.w100{
	float:left;
	width:100%;
}
.mie{
	_margin-top:20px;
	*margin-top:20px;
}
a.bt_orange{
	float:left;
	width:200px;
	height:40px;
	line-height:40px;
	font-size:18px;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
	border:none;
	color:#FFFFFF;
	text-align:center;
	background-color:#ea7914;
	cursor:pointer;
}
a.bt_orange:hover{
	background-color:#666666;
}
a.bt_blue{
	float:left;
	width:200px;
	height:40px;
	line-height:40px;
	font-size:18px;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
	border:none;
	color:#FFFFFF;
	text-align:center;
	background-color:#1b66c3;
	cursor:pointer;
}
a.bt_blue:hover{
	background-color:#ea7914;
}
.float_left{
	float:left;
}
.float_right{
	float:right;
}
.va-2{
	vertical-align:-2px;
}
.h60{
	float:left;
	width:100%;
	height:60px;
}
.bt_zuche a{
	display:block;
	width:200px;
	height:40px;
	font-size:18px;
	line-height:39px;
	background-color:#1b66c3;
	text-align:center;
	color:#FFFFFF;
	margin-bottom:20px;
}
.bt_zuche a:hover{
	background-color:#ea7914;
}
/*header*/
#top{
	display:block;
	width:100%;
	height:150px;
	background-color:#000000;
	overflow:hidden;
}
#top .logo{
	float:left;
	margin:30px 0;
}
#top .logo_txt{
	float:left;
	padding-left:82px;
	margin-top:78px;
}
#menu{
	display:block;
	width:100%;
	height:50px;
	background-color:#FFFFFF;
	overflow:hidden;
}
#menu .nav{
	float:left;
	width:780px;
	height:50px;
}
#menu .nav li{
	float:left;
	width:110px;
	height:50px;
	line-height:49px;
	overflow:hidden;
}
#menu .nav li a{
	display:block;
	width:100%;
	height:50px;
	text-align:center;
	font-size:18px;
	color:#000000;
	background-color:#FFFFFF;
}
#menu .nav li a:hover{
	color:#000000;
	background-color:#CCCCCC;
	text-decoration:none;
}
#menu .nav li.current a{
	display:block;
	width:100%;
	height:50px;
	text-align:center;
	font-size:18px;
	color:#000000;
	background-color:#CCCCCC;
	text-decoration:none;
}
#menu .login{
	float:right;
	width:220px;
	height:50px;
}
#menu .login ul{
}
#menu .login li{
	float:left;
	width:98px;
	height:38px;
	margin:5px 0;
	line-height:37px;
	padding-left:10px;
}
#menu .login li a{
	display:block;
	width:100%;
	height:38px;
	text-align:center;
	font-size:14px;
	color:#666666;
	border:1px solid #666666;
	background-color:#FFFFFF;
}
#menu .login li a:hover{
	color:#FFFFFF;
	background-color:#666666;
	text-decoration:none;
	border:1px solid #666666;
}
/*home*/
.m100{
	margin-top:100px;
}
.m50{
	margin-top:50px;
}
.mb50{
	margin-bottom:50px;
}
.home_left{
	float:left;
	width:665px;
}
.home_right{
	float:right;
}
.bt_home{
	float:left;
	width:300px;
	height:80px;
	padding-right:30px;
}
.bt_home a{
	display:block;
	width:294px;
	height:74px;
	line-height:73px;
	font-size:36px;
	color:#FFFFFF;
	text-align:center;
	border:3px solid #FFFFFF;
}
.bt_home a:hover{
	color:#000000;
	background-color:#FFFFFF;
	border:3px solid #FFFFFF;
	text-decoration:none;
}
.home_input{
	float:left;
	width:226px;
	height:30px;
	line-height:30px;
	padding:9px 10px;
	border:1px solid #FFF;
	background-color:#FFFFFF;
	font-size:18px;
	color:#808080;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
}
.home_button{
	float:left;
	width:50px;
	height:50px;
	border:1px solid #FFF;
	margin-left:2px;
	background:url(../Public/image/icon_so.png) no-repeat center center;
	cursor:pointer;
}
.bg_iphone{
	margin-top:66px;
	margin-right:-132px;
	width:183px;
	height:327px;
	padding:62px 142px 93px 119px;
	background:url(../Public/image/bg_iphone.png) no-repeat center center;
	text-align:center;
}
.ercode{
	margin:20px auto 35px auto;
	width:138px;
}
.home_os{
	width:170px;
	margin:0 auto;
}
.home_os a{
	display:block;
	width:170px;
	height:45px;
	margin-bottom:10px;
	background-color:#FFFFFF;
}
.home_os a:hover{
	background-color:#ffe4cc;
}
/*news*/
.news_left{
	float:left;
	width:200px;
}
.news_right{
	float:right;
	width:730px;
}
.news_nav{
	width:100%;
	margin-bottom:10px;
}
.news_nav ul{
	padding:15px 0;
}
.news_nav li a{
	display:block;
	width:100%;
	font-size:16px;
	height:49px;
	line-height:48px;
	text-align:center;
	background:url(../Public/image/icon_news_arrow_a.png) no-repeat 142px center;
}
.news_nav li a:hover{
	background:url(../Public/image/icon_news_arrow_v.png) no-repeat 142px center;
}
.news_nav li.current a{
	display:block;
	width:100%;
	font-size:16px;
	height:49px;
	color:#24211c;
	line-height:48px;
	text-align:center;
	background:url(../Public/image/icon_news_arrow_v.png) no-repeat 142px center;
}
.bt_news a{
	display:block;
	width:200px;
	height:40px;
	font-size:18px;
	line-height:39px;
	background-color:#1b66c3;
	text-align:center;
	color:#FFFFFF;
}
.bt_news a:hover{
	background-color:#ea7914;
}
.bt_news_current a{
	display:block;
	width:200px;
	height:40px;
	font-size:18px;
	line-height:39px;
	background-color:#ea7914;
	text-align:center;
	color:#FFFFFF;
}
.news_list{
	display:block;
	width:100%;
	height:auto;
}
.news_list h3{
	width:100%;
	height:39px;
	margin:0;
	padding:0;
	font-size:18px;
	line-height:38px;
	border-bottom:1px solid #ea7914;
}
.news_list h3 .htitle{
	float:left;
	padding-left:10px;
}
.news_list h3 .hmore{
	float:right;
	font-size:12px;
	font-weight:normal;
	padding-right:48px;
	margin-top:5px;
	height:33px;
	background:url(../Public/image/icon_more.png) no-repeat 58px 12px;
}
.news_list ul{
	float:left;
	width:100%;
	border-bottom:1px solid #ea7914;
}
.news_list li{
	float:left;
	width:100%;
	height:40px;
	line-height:40px;
	font-size:16px;
}
.news_list li.fcolor{
	background-color:#FFFFFF;
}
.news_list li a{
	float:left;
	padding-left:10px;
	width:85%;
}
.news_list li a b{
	font-size:18px;
	font-weight:normal;
}
.news_list li span{
	float:right;
	text-align:right;
	padding-right:10px;
	color:#666666;
}
.news_content{
	font-size:14px;
	line-height:26px;
}
.path{
	float:left;
	margin-top:1px;
	height:31px;
	padding-left:30px;
	background:url(../Public/image/icon_news_arrow_a.png) no-repeat 13px 12px;
	font-size:16px;
	color:#666666;
	font-weight:normal;
}
.news_info{
	float:left;
	margin:20px 0;
	width:100%;
}
.news_info h1{
	font-size:24px;
	font-weight:normal;
	margin:5px 0;
	padding:0;
}
.news_info .news_tips{
	margin-top:18px;
	border-bottom:1px dotted #666666;
}
.news_info .news_tips p{
	font-size:16px;
	margin:0;
	padding:0;
	height:35px;
	line-height:35px;
	color:#666666;
}
.news_info .news_tips .ndate{
	float:left;
	margin-right:48px;
	_margin-right:24px;
}
.news_info .news_tips .nshare{
	float:left;
	width:101px;
	padding-left:17px;
	height:35px;
	line-height:35px;
	border-top:1px solid #f2f2f2;
	border-left:1px solid #f2f2f2;
	border-right:1px solid #f2f2f2;
	background:#f2f2f2 url(../Public/image/icon_share_arrow.png) no-repeat 90px center;
	position:relative;
	cursor:pointer;
}
.news_info .news_tips .nshare:hover{
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	background:#FFFFFF url(../Public/image/icon_share_arrow.png) no-repeat 90px center;
}
.news_info .news_tips .nshare .icon_share{
	position:absolute;
	left:-1px;
	top:35px;
	float:left;
	width:170px;
	height:198px;
	border:1px solid #cccccc;
	background:#FFFFFF url(../Public/image/icon_nshare.png) no-repeat 10px top;
	z-index:9999;
}
.news_info .news_tips .icon_share a{
	font-size:16px;
	line-height:38px;
	height:38px;
	color:#666;
	display:block;
	margin:9px 0;
	padding-left:50px;
}
.news_info .news_tips .icon_share a:hover{
	color:#ea7914;
}
.news_info .news_tips .nhit{
	float:right;
	padding-left:30px;
	padding-right:10px;
	background:url(../Public/image/icon_hit.png) no-repeat left center;
}
/*flow*/
.flow_title{
	float:left;
	width:100%;
	height:58px;
	display:block;
	background:url(../Public/image/img_flow_title.png) no-repeat center center;
	overflow:hidden;
	margin-top:45px;
}
/*pages*/
.news_pages{
	margin:0 auto;
}
.news_pages ul{
	float:left;
	padding:15px 0px 15px 0px;
}
.news_pages ul li{
	float:left;
	font-family: arial;
	line-height:20px;
	font-size: 14px;
	margin-right:6px;
}
.news_pages ul li a{
	float:left;
	height: 20px;
	color:#333;
	padding: 3px;
	background-color:#FFFFFF;
	display:block;
	border: 1px solid #CCCCCC;
}
.news_pages ul li a:hover{
	color:#333;
	text-decoration:none;
	background-color:#ffeee5;
	padding: 3px;
	border: 1px solid #ea7914;
}
.news_pages ul li.thisclass,
.news_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	background-color:#ea7914;
	height: 20px;
	padding: 3px 9px;
	font-weight:bold;
	color:#FFF;
	border: 1px solid #ea7914;
}
.news_pages ul .current {
	background-color: #ea7914;
    border: 1px solid #ea7914;
    color: #fff;
    display: block;
    float: left;
    height: 20px;
    padding: 3px 9px;

}
.news_pages .pageinfo{
	display:block;
	line-height:21px;
    font-size:14px;
	text-align:right;
	padding:3px 5px 3px 5px;
	color:#999;
}
.news_pages .pageinfo b{
	font-size:18px;
	font-family:Helvetica;
}
.news_pages .pageinfo strong{
	color:#555;
	font-weight:normal;
	margin:0px 2px;
}
/*login*/
.lg_banner{
	float:left;
	width:648px;
	height:332px;
	text-align:center;
	background-color:#535355;
}
.lg_login{
	float:right;
	width:260px;
	padding:15px 44px;
	height:298px;
	border:2px solid #eb7a14;
}
.lg_login h2{
	font-size:18px;
	font-weight:normal;
	color:#000;
	text-align:center;
	margin:10px 0 6px 0;
	padding:0;
}
.lg_login .bt_login{
	display:block;
	width:258px;
	height:40px;
	line-height:36px;
	border:1px solid #666666;
	text-align:center;
	font-size:18px;
	color:#666666;
	background-color:#F2F2F2;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
	cursor:pointer;
}
.lg_login .bt_login:hover{
	color:#FFFFFF;
	background-color:#666666;
}
.m20{
	margin-top:20px;
}
.lg_name{
	display:block;
	width:220px;
	height:26px;
	border:1px solid #666666;
	color:#BFBFBF;
	padding-left:38px;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
	background:#FFF url(../Public/image/icon_login_name.png) no-repeat left center;
}
.lg_password{
	display:block;
	width:220px;
	height:26px;
	border:1px solid #666666;
	color:#BFBFBF;
	padding-left:38px;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
	background:#FFF url(../Public/image/icon_login_password.png) no-repeat left center;
}
.login_qq{
	float:left;
	padding:0 10px 0 25px;
	height:20px;
	background:url(../Public/image/icon_login_qq.png) no-repeat left center;
}
.login_weibo{
	float:left;
	padding:0 10px 0 25px;
	height:20px;
	background:url(../Public/image/icon_login_weibo.png) no-repeat left center;
}
.su_step,.su_step_one,.su_step_ok{
	margin:0 auto;
	width:700px;
	overflow:hidden;
}
.su_step ul{
	display:block;
	width:720px;
}
.su_step li{
	float:left;
	width:220px;
	height:40px;
	margin-right:20px;
	_margin-right:10px;
	font-size:18px;
	line-height:39px;
	color:#FFFFFF;
}
.su_step li.signup_setp_b{
	float:left;
	width:200px;
	padding-left:20px;
	background:url(../Public/image/bg_signup_setp_b.png) no-repeat left center;
}
.su_step li.signup_setp_b b,.su_step li.signup_setp_a b{
	padding-right:15px;
	font-weight:normal;
}
.su_step li.signup_setp_a{
	float:left;
	width:200px;
	padding-left:20px;
	background:url(../Public/image/bg_signup_setp_a.png) no-repeat left center;
}
.su_step li.signup_setp_v{
	float:left;
	width:170px;
	padding-left:50px;
	background:url(../Public/image/bg_signup_setp_v.png) no-repeat left center;
}
.su_step_one{
	margin-top:48px;
}
.su_step_one li{
	float:left;
	width:100%;
	height:40px;
}
.m40{
	margin-bottom:40px;
}
.w250{
	width:238px;
}
.w150{
	width:138px;
}
.su_step_one li label{
	float:left;
	width:175px;
	height:40px;
	line-height:40px;
	padding-right:20px;
	font-size:18px;
	text-align:right;
}
.su_step_one li .su_input{
	float:left;
	height:28px;
	line-height:28px;
	padding:5px 9px;
	font-size:14px;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #cccccc;
	/*background-color:#F2F2F2;*/
}
.su_step_one li .su_input:hover,.su_step_one li .su_input:active{
	border:1px solid #ea7914;
}
.bt_step{
	float:left;
	height:40px;
	line-height:40px;
	font-size:16px;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
	border:none;
	color:#FFFFFF;
	text-align:center;
	background-color:#ea7914;
	cursor:pointer;
}
.bt_step_mcode{
	width:150px;
	margin-left:10px;
	_margin-left:4px;
}
.bt_step_sumbit{
	width:200px;
}
.su_step_tips{
	float:left;
	height:22px;
	padding:6px 0 12px 20px;
	line-height:22px;
	color:#ea7914;
	background:url(../Public/image/icon_tips.png) no-repeat left 9px;
}
.su_ok{
	margin:70px auto 20px auto;
	width:310px;
	height:40px;
	line-height:40px;
	font-size:36px;
	padding-left:70px;
	background:url(../Public/image/icon_su_ok.png) no-repeat left center;
}
.su_txt{
	float:left;
	width:100%;
	font-size:18px;
	text-align:center;
	margin:20px 0 40px 0;
}
.su_bt{
	width:360px;
	margin:20px auto;
}
.su_bt a{
	float:left;
	width:150px;
	height:40px;
	font-size:18px;
	color:#ea7914;
	margin:0 10px;
	_margin:0 5px;
	line-height:40px;
	background-color:#F2F2F2;
	border:1px solid #ea7914;
	text-align:center;
}
.su_bt a:hover{
	color:#FFF;
	background-color:#666666;
	border:1px solid #666666;
}
/*my*/
.my_nav{
	float:left;
	width:850px;
	height:40px;
}
.my_nav li{
	float:left;
	width:120px;
	height:40px;
	text-align:center;
	font-size:16px;
	line-height:40px;
	border-right:1px solid #cccccc;
}
.my_nav li a{
	display:block;
	width:100%;
	height:40px;
	color:#FFFFFF;
	background-color:#b8b8b8;
}
.my_nav li a:hover{
	color:#FFFFFF;
	background-color:#ea7914;
}
.my_nav li a.current{
	display:block;
	width:100%;
	height:40px;
	color:#FFFFFF;
	background-color:#ea7914;
}
.my_zuchen_bt a{
	display:block;
	width:120px;
	height:30px;
	margin-top:5px;
	line-height:30px;
	background-color:#1b66c3;
	color:#FFFFFF;
	font-size:18px;
	text-align:center;
}
.my_zuchen_bt a:hover{
	color:#FFFFFF;
	background-color:#ea7914;
}
.my_content{
	float:left;
	width:938px;
	padding:30px;
	min-height:470px;
	border:1px solid #ea7914;
}
.mynotice{
	display:block;
	padding:0 20px 0 20px;
}
.mynotice h2{
	float:left;
	width:100%;
	font-size:24px;
	margin:10px 0 25px 0;
}
.mynotice ul{
	float:left;
	width:100%;
	border-top:1px solid #CCCCCC;
	margin-bottom:30px;
}
.mynotice li{
	float:left;
	width:878px;
	padding:20px 10px;
	height:auto;
	line-height:36px;
	font-size:16px;
	color:#666666;
	border-bottom:1px solid #CCCCCC;
}
.mynotice .bge5{
	background-color:#e5e5e5;
}
.myreservations{
	width:100%;
}
.myreservations li{
	float:left;
	width:100%;
	margin-bottom:30px;
}
.myre_img{
	float:left;
	width:220px;
	height:150px;
	overflow:hidden;
}
.myre_txt{
	float:left;
	padding-left:20px;
	font-size:16px;
	color:#666666;
	line-height:27px;
	width:690px;
}
.myre_title{
	float:left;
	width:100%;
	font-size:24px;
	margin-bottom:15px;
	margin-top:0px;
}
.myre_title a{
	float:left;
	width:238px;
}
b.myre_cancel{
	font-size:16px;
	color:#ff0000;
	font-weight:normal;
}
b.myre_ok{
	font-size:16px;
	color:#1b66c3;
	font-weight:normal;
}
.myinfo{
	margin:30px auto;
	width:800px;
}
a.myrecommend{
	float:right;
	width:150px;
	padding-left:50px;
	height:40px;
	border:1px solid #ea7914;
	line-height:40px;
	font-size:16px;
	color:#666;
	background:#F2F2F2 url(../Public/image/icon_my_recommend.png) no-repeat 15px center;
}
a.myrecommend:hover{
	background:#DDDDDD url(../Public/image/icon_my_recommend.png) no-repeat 15px center;
}
.myface{
	float:left;
	width:150px;
	padding-left:0;
}
.myface a.bt_face{
	display:block;
	margin:10px auto;
	width:100px;
	height:25px;
	line-height:25px;
	text-align:center;
	background-color:#cccccc;
	color:#FFFFFF;
}
.myface a.bt_face:hover{
	background-color:#ea7914;
}
.myuser{
	float:left;
	width:100%;
	margin-top:10px;
	font-size:24px;
	color:#1b66c3;
	text-align:center;
}
.myname{
	float:left;
	width:245px;
	padding-left:100px;
}
.mymore{
	float:right;
	width:200px;
	text-align:center;
}
.mymore p{
	margin:10px 0;
}
.mb25{
	margin-bottom:25px;
}
.mymore_title{
	color:#1b66c3;
	font-size:18px;
	line-height:20px;
	text-align:center;
}
.myname .myphone{
	float:left;
	height:30px;
	line-height:30px;
	padding-left:42px;
	font-size:18px;
	margin:20px 0;
	background:url(../Public/image/icon_my_name.png) no-repeat left center;
}
.myname .mypassword{
	float:left;
	height:30px;
	line-height:30px;
	padding-left:42px;
	font-size:18px;
	margin:20px 0;
	background:url(../Public/image/icon_my_password.png) no-repeat left center;
}
.myname .bt_mypassword{
	float:left;
	width:100%;
}
.myname .bt_mypassword a{
	float:left;
	margin:0 0 10px 0;
	width:100px;
	height:30px;
	font-size:16px;
	line-height:30px;
	text-align:center;
	background-color:#cccccc;
	color:#FFFFFF;
}
.myname .bt_mypassword a:hover{
	background-color:#ea7914;
}
.myname .mydate{
	margin-top:39px;
	font-size:18px;
}
.mybill{
	float:left;
	width:878px;
	padding:0 20px;
}
.mybill h2{
	font-size:24px;
	font-weight:normal;
	margin:12px 0;
	padding:0;
}
.mybill_over{
	font-size:16px;
	line-height:26px;
}
.mybill_oy{
	margin-bottom:5px;
}
.mybill_ye{
	margin-right:65px;
}
.mybill_ye b{
	color:#ff0000;
	font-size:24px;
	font-weight:normal;
}
.mybill_ky{
	margin-right:65px;
}
.mybill_ky b{
	color:#1b66c3;
	font-weight:normal;
}
.mybill_dj{
	margin-right:65px;
}
.mybill_dj b{
	color:#ff0000;
	font-weight:normal;
}
.mybill_bt{
	width:100%;
	margin-top:18px;
}
.mybill_bt a{
	float:left;
	width:60px;
	height:30px;
	background-color:#ea7914;
	line-height:29px;
	text-align:center;
	margin-right:20px;
	font-size:16px;
	color:#FFFFFF;
	_margin-right:10px;
}
.mybill_bt a:hover{
	color:#FFFFFF;
	background-color:#666666;
}
.mybill_all{
	float:left;
	width:878px;
	padding:0 20px;
	margin-top:40px;
	margin-bottom:30px;
	font-size:14px;
}
.mybill_all h2{
	font-size:16px;
	margin:12px 0;
	padding:0;
}
.pl15{
	padding-left:15px;
}
.color_orange{
	color:#ea7914;
}
.color_red{
	color:#ff0000;
}
.color_gray{
	color:#CCCCCC;
}
.color_blue{
	color:#1b66c3;
}
.mycar_info{
	padding:0 20px;
}
.mycar_info h2{
	float:left;
	width:100%;
	font-size:18px;
	height:28px;
	line-height:28px;
	margin:15px 0 20px 0;
	padding:0;
}
.mycar_nav{
	float:left;
	width:150px;
	height:auto;
	border:1px solid #cccccc;
}
.mycar_nav li{
	float:left;
	width:100%;
	height:50px;
	line-height:49px;
	font-size:16px;
	border-bottom:1px solid #cccccc;
}
.mycar_nav li a{
	display:block;
	width:120px;
	padding-left:30px;
	height:50px;
	line-height:49px;
	font-size:16px;
	background:#F2F2F2 url(../Public/image/icon_mycar_arrow.png) no-repeat 108px center;
}
.mycar_nav li a:hover{
	color:#24211c;
	background:#e5e5e5 url(../Public/image/icon_mycar_arrow.png) no-repeat 108px center;
}
.mycar_nav li.current a{
	display:block;
	width:120px;
	padding-left:30px;
	height:50px;
	line-height:49px;
	font-size:16px;
	background:#e5e5e5 url(../Public/image/icon_mycar_arrow.png) no-repeat 108px center;
}
.mycar_content{
	float:right;
	width:650px;
	margin-bottom:30px;
}
.mycarinfos{
	float:left;
	width:650px;
}
.mycarinfos li{
	float:left;
	width:100%;
	font-size:16px;
	margin-bottom:19px;
	line-height:30px;
}
.mylabel{
	float:left;
	width:115px;
	height:30px;
	line-height:30px;
	font-size:16px;
	text-align:right;
}
.myselect{
	float:left;
	height:30px;
	width:auto;
	line-height:26px;
	padding-left:8px;
	padding-right:0;
	margin-right:10px;
	font-size:16px;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #cccccc;
	background-color:#F2F2F2;
	color:#666666;
}
.myinput{
	float:left;
	height:22px;
	width:auto;
	line-height:22px;
	padding:3px 8px;
	margin-right:10px;
	font-size:14px;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #cccccc;
	background-color:#F2F2F2;
	color:#666666;
}
.su_step_one li .su_input:hover,.su_step_one li .su_input:active{
	border:1px solid #ea7914;
}
.mycarbt{
	float:left;
	width:100px;
	height:40px;
	background-color:#ea7914;
	line-height:39px;
	text-align:center;
	font-size:18px;
	color:#FFFFFF;
	_margin-right:10px;
	border:none;
	cursor:pointer;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
}
a.mycar_next{
	margin-left:28px;
	line-height:40px;
	font-size:16px;
	color:#1b66c3;
}
a.mycar_next:hover{
	color:#ea7914;
}
.mycarphoto{
	float:left;
	width:100%;
	overflow:hidden;
}
.mycarphoto ul{
	float:left;
	width:720px;
}
.mycarphoto li{
	float:left;
	width:248px;
	height:248px;
	border:1px solid #CCCCCC;
	font-size:16px;
	color:#1b66c3;
	margin-bottom:50px;
	margin-right:97px;
	_margin-right:48px;
}
.mycarphoto li .mycp_img{
	float:left;
	width:228px;
	height:180px;
	padding:10px;
}
.mycarphoto li .mycp_img img{
	width:228px;
	height:180px;
}
.mycarphoto li p{
	margin:0;
	padding:0;
}
.mycarphoto li .mycp_txt{
	float:left;
	width:228px;
	padding:8px 10px 15px 10px;
	text-align:center;
	position:relative;
}
.mycarphoto li .mycp_txt a.mycar_up{
	float:left;
	position:absolute;
	right:10px;
}
.myca_txt{
	margin-top:-3px;
	width:100%;
	font-size:16px;
}
.myca_txt span{
	float:left;
	padding:12px 0 16px 0;
	color:#666666;
}
.mycarinfos h3{
	float:left;
	width:100%;
	font-size:16px;
	padding:0;
}
.mycarinfos h3.mb20{
	margin-top:0;
	margin-bottom:20px;
}
.mycarinfos h3.m15{
	margin-top:15px;
	margin-bottom:15px;
}
.mytextarea{
	float:left;
	line-height:18px;
	padding:8px;
	margin-right:10px;
	font-size:12px;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #cccccc;
	background-color:#F2F2F2;
	color:#666666;
	width:400px;
	height:200px;
}
.mycardesc_maps{
	float:left;
	width:500px;
	height:300px;
	margin-bottom:40px;
}
.mycar_no{
	display:block;
	margin:100px auto 0 auto;
	width:825px;
	height:238px;
	background:url(../Public/image/img_mycar.png) no-repeat right center;
}
p.mycarno_title{
	font-size:16px;
	margin:22px 0 0 0;
	padding:0;
}
p.mycarno_txt{
	font-size:24px;
	padding:20px 0;
	margin:0;
}
p.mycarno_bt{
	margin:0;
	padding:0;
}
.mycaryes{
	padding:0 20px;
	position:relative;
}
.mycy_rbt{
	float:right;
}
.mycaryes li{
	float:left;
	width:100%;
	margin-bottom:25px;;
}
.mycaryes_img{
	float:left;
	width:146px;
	height:100px;
	overflow:hidden;
}
.mycaryes_txt{
	float:left;
	padding-left:20px;
	font-size:18px;
	line-height:27px;
}
.mycaryes_title{
	float:left;
	width:100%;
	font-size:18px;
	margin-top:0px;
	margin:0;
}
.mycaryes_pai{
	margin:6px 0 10px 0;
}
.mycaryes_pai b{
	font-weight:normal;
}
.mycaryes_bt{
	float:left;
	width:100%;
	*margin-top:10px;
	_margin-top:10px;
}
a.mycy_bt{
	float:left;
	width:auto;
	padding:0 16px;
	height:28px;
	line-height:26px;
	font-size:14px;
	text-align:center;
	background-color:#f2f2f2;
	color:#666666;
	border:1px solid #CCCCCC;
}
a.mycy_bt:hover{
	color:#FFFFFF;
	background-color:#ea7914;
}
a.mycy_chuzu{
	float:left;
	width:60px;
	height:30px;
	line-height:29px;
	margin-left:20px;
	_margin-left:10px;
	font-size:14px;
	text-align:center;
	background-color:#ea7914;
	color:#FFFFFF;
}
a.mycy_chuzu:hover{
	background-color:#666666;
}
.mybill_rch{
	float:left;
	width:650px;
}
.mybill_rch li{
	float:left;
	width:100%;
	font-size:16px;
	margin-bottom:19px;
	line-height:40px;
}
.myblabel{
	float:left;
	width:100px;
	height:40px;
	line-height:40px;
	font-size:16px;
	text-align:right;
}
.mybinput{
	float:left;
	height:32px;
	width:auto;
	line-height:32px;
	padding:3px 8px;
	margin-right:10px;
	font-size:16px;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #cccccc;
	background-color:#FFFFFF;
	color:#666666;
}
.mybcarbt{
	float:left;
	width:150px;
	height:40px;
	background-color:#ea7914;
	line-height:39px;
	text-align:center;
	font-size:18px;
	color:#FFFFFF;
	_margin-right:10px;
	border:none;
	cursor:pointer;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
}
.pdm10{
	padding-bottom:10px;
}
.mybill_bank{
  float:left;
  height:32px;
  line-height:32px;
  border:1px solid #CCCCCC;
  background:#FFFFFF url(../Public/image/bg_bank.jpg) no-repeat 8px center;
  padding:3px 80px 3px 45px;
  position:relative;
}
.bank_down{
  position:absolute;
  top:1px;
  right:1px;
}
.carlist{
	width:100%;
}
.carlist li{
	float:left;
	width:980px;
	padding:20px 10px;
	height:149px;
	border-bottom:1px solid #CCCCCC;
}
.carlist li:hover{
	background-color:#e5e5e5;
}
.carlist_left{
	float:left;
	width:750px;
}
.carlist_right{
	float:right;
	width:200px;
	text-align:right;
}
.carlist_img{
	float:left;
	width:220px;
	height:150px;
	overflow:hidden;
}
.carlist_txt{
	float:left;
	width:500px;
	padding-left:20px;
	font-size:16px;
	color:#666666;
	line-height:27px;
}
.carlist_title{
	float:left;
	width:500px;
	font-size:24px;
	margin-bottom:10px;
	margin-top:0px;
}
.carlist_ct{
	float:left;
	width:500px;
	font-size:12px;
}
.carlist_add{
	float:left;
	width:480px;
	padding-left:18px;
	font-size:12px;
	background:url(../Public/image/icon_carlist_add.png) no-repeat left 4px;
}
.carlist_bt{
	float:left;
	width:500px;
	margin-top:4px;
}
a.carlist_vmap{
	float:left;
	width:80px;
	height:25px;
	font-size:12px;
	text-align:center;
	line-height:25px;
	color:#666666;
	background-color:#FFFFFF;
	border:1px solid #ea7914;
}
a.carlist_vmap:hover{
	background-color:#ea7914;
	color:#FFFFFF;
}
a.carlist_fav{
	float:left;
	width:80px;
	margin-left:22px;
	_margin-left:11px;
	height:25px;
	font-size:12px;
	line-height:25px;
	padding-left:25px;
	color:#666666;
	background:url(../Public/image/icon_carlist_fav.png) no-repeat left 2px;
}
a.carlist_fav:hover{
	color:#ea7914;
}
.cl_p_day{
	font-size:24px;
}
.cl_p_day b{
	color:#a40000;
	font-weight:normal;
}
.cl_bt_show{
	margin-top:84px;
}
.cl_bt_show a{
	float:right;
	width:80px;
	height:30px;
	font-size:16px;
	background-color:#ea7914;
	color:#FFFFFF;
	line-height:30px;
	text-align:center;
}
.cl_bt_show a:hover{
	background-color:#666666;
}
.carlist_filter{
	float:left;
	width:100%;
	height:40px;
	border-bottom:1px solid #ea7914;
}
.carlist_filter ul{
}
.carlist_filter li{
	float:left;
	width:100px;
	height:40px;
	font-size:16px;
	line-height:40px;
	text-align:center;
}
.carlist_filter li a{
	display:block;
	width:100px;
	height:40px;
	font-size:16px;
	line-height:40px;
	text-align:center;
	color:#ea7914;
}
.carlist_filter li a.current{
	background-color:#ea7914;
	color:#FFFFFF;
}
.icon_carlist_up{
	background:url(../Public/image/icon_carlist_filter.png) no-repeat 75px center;
}
.carlist_so{
	float:left;
	width:100%;
	height:40px;
	padding:10px 0;
	background-color:#797979;
}
.carlist_sobt input{
	float:right;
	width:150px;
	height:40px;
	background-color:#ea7914;
	color:#FFFFFF;
	font-size:18px;
	text-align:center;
	line-height:38px;
	border:none;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
}
.carlist_soadd{
	float:left;
	width:290px;
	height:40px;
	overflow:hidden;
	background-color:#FFFFFF;
}
.cslabel{
	float:left;
	width:50px;
	height:40px;
	line-height:40px;
	font-size:16px;
	text-align:center;
}
.csinput{
	float:left;
	height:34px;
	width:230px;
	line-height:32px;
	padding:3px 3px;
	font-size:16px;
	font-family:'微软雅黑',Microsoft YaHei,Verdana, Arial, Helvetica, sans-serif;
	border:none;
	background-color:#FFFFFF;
	color:#666666;
}
.carlistso_down_bg{
  float:left;
  margin-right:20px;
  _margin-right:10px;
  height:34px;
  line-height:34px;
  background-color:#FFFFFF;
  padding:3px 55px 3px 12px;
  position:relative;
  font-size:16px;
}
.carlistso_date{
  float:left;
  margin-right:20px;
  _margin-right:10px;
  height:34px;
  width:123px;
  line-height:34px;
  background-color:#FFFFFF;
  padding:3px 55px 3px 12px;
  position:relative;
  font-size:16px;
}
.carlistso_date_down{
  position:absolute;
  top:7px;
  right:10px;
}
.carlistso_down{
  position:absolute;
  top:0px;
  right:0px;
}
.cardt_left{
	float:left;
	width:640px;
	overflow:hidden;
}
.cardt_left h2{
	float:left;
	width:100%;
	height:28px;
	line-height:28px;
	font-size:24px;
	color:#1b66c3;
	margin:20px 0 0 0;
	padding:10px 0;
	font-weight:normal;
	border-bottom:1px solid #CCCCCC;
}
.cardt_txt{
	float:left;
	width:100%;
	font-size:18px;
	line-height:27px;
	padding:15px 0 15px 0;
	border-bottom:1px solid #CCCCCC;
}
.cardt_txt .ctitle{
	padding:5px 0 10px 0;
}
.cardt_maps{
	float:left;
	width:640px;
	height:400px;
	overflow:hidden;
}
.cardt_img{
	float:left;
	width:640px;
	height:450px;
	overflow:hidden;
}
.cardt_thumbnail{
	float:left;
	width:630px;
	padding:7px 4px;
	height:115px;
	border:1px solid #CCCCCC;
	overflow:hidden;
}
.cardt_thumbnail li{
	float:left;
	width:109px;
	padding:2px;
	height:109px;
	margin-right:2px;
	_margin-right:2px;
	border:1px solid #F2F2F2;
}
.cardt_thumbnail li:hover{
	border:1px solid #ea7914;
}
.cardt_thumbnail li.hover{
	float:left;
	width:109px;
	padding:2px;
	height:109px;
	border:1px solid #ea7914;
}
.cardt_thumbnail .arrow{
	width:22px;
	padding:40px 0;
}
.cardt_right{
	float:right;
	width:300px;
	overflow:hidden;
}
.cardt_price{
	float:left;
	width:258px;
	margin-bottom:20px;
	border:1px solid #CCCCCC;
	text-align:center;
	padding:33px 20px 42px 20px;
	font-size:12px;
}
.price_day{
	text-align:center;
	font-size:18px;
}
.price_day b{
	font-size:36px;
	color:#a40000;
	font-weight:normal;
}
.price_week{
	text-align:center;
	margin-bottom:40px;
}
.price_week b{
	font-size:24px;
	color:#a40000;
	font-weight:normal;
}
.cardt_price_bt{
	margin:0 auto;
	width:200px;
}
.cardt_cheinfo{
	float:left;
	width:258px;
	margin-bottom:20px;
	border:1px solid #CCCCCC;
	text-align:center;
	padding:20px 20px 25px 20px;
	font-size:24px;
}
.cardt_cheinfo .cheinfo{
}
.cardt_cheinfo .cheface{
	padding:25px 0 12px 0;
	margin:0 auto;
}
.cardt_cheinfo .chename{
	color:#1b66c3;
}
.cardt_date{
	float:left;
	width:298px;
	margin-bottom:20px;
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
}
.cardt_date h2{
	width:100%;
	height:30px;
	font-size:18px;
	line-height:30px;
	background-color:#CCCCCC;
	font-weight:normal;
	margin:0;
	padding:0;
	text-align:center;
}
.cardt_date .cardt_date_ct{
	padding:10px 10px;
	text-align:center;
}
.cardt_hot{
}
.cardt_hot ul{
	padding:1px;
}
.cardt_hot li{
	float:left;
	width:100%;
	margin-bottom:1px;;
}
.cardt_hot_img{
	float:left;
	width:100px;
	height:90px;
	overflow:hidden;
}
.cardt_hot_txt{
	float:left;
	padding-left:7px;
	width:178px;
	font-size:18px;
	line-height:27px;
}
.cardt_hot_title{
	float:left;
	width:100%;
	font-size:18px;
	margin-top:1px;
	margin-bottom:5px;
}
.cardt_hot_add{
	float:left;
	width:160px;
	padding-left:18px;
	font-size:12px;
	background:url(../Public/image/icon_carlist_add.png) no-repeat left 4px;
}
.cardt_hot_price{
	font-size:12px;
}
.cardt_hot_price b{
	font-size:18px;
	color:#a40000;
	font-weight:normal;
}
/*footer*/
#footer{
	float:left;
	width:100%;
	margin-top:50px;
	text-align:center;
	height:75px;
}
#footer .copy_white{
	color:#FFFFFF;
}
#footer .copy_black{
	color:#666666;
}
/*头部登陆后的样式*/
.top_user{
	margin-top:15px;float:right
}
/*表单验证*/
.Validform_checktip {
	margin-left:10px;
	line-height:25px;
	height:25px;
	overflow:hidden;
	color:#999;
	font-size:12px;
	float:left;
}
.Validform_right {
	color:#71b83d;
	padding-left:20px;
	background:url(../Public/image/right.png) no-repeat left center;
}
.Validform_wrong {
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(../Public/image/error.png) no-repeat left center;
}
.Validform_loading {
	padding-left:20px;
	background:url(../Public/image/onLoad.gif) no-repeat left center;
}
.Validform_error {
	background-color:#ffe7e7;
}
#Validform_msg {
	color:#7d8289;
	font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
	width:280px;
	-webkit-box-shadow:2px 2px 3px #aaa;
	-moz-box-shadow:2px 2px 3px #aaa;
	background:#fff;
	position:absolute;
	top:0px;
	right:50px;
	z-index:99999;
	display:none;
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}
#Validform_msg .iframe {
	position:absolute;
	left:0px;
	top:-1px;
	z-index:-1;
}
#Validform_msg .Validform_title {
	line-height:25px;
	height:25px;
	text-align:left;
	font-weight:bold;
	padding:0 8px;
	color:#fff;
	position:relative;
	background-color:#000;
}
#Validform_msg a.Validform_close:link, #Validform_msg a.Validform_close:visited {
	line-height:22px;
	position:absolute;
	right:8px;
	top:0px;
	color:#fff;
	text-decoration:none;
}
#Validform_msg a.Validform_close:hover {
	color:#cc0;
}
#Validform_msg .Validform_info {
	padding:8px;
	border:1px solid #000;
	border-top:none;
	text-align:left;
}