@CHARSET "UTF-8";
#Yocms_website_list_93{/*border: 1px solid #ccc;*/border-radius: 20px;display:block;margin:0 auto; width:1200px; position:relative;clear:both;min-height: 280px;overflow:auto}
#Yocms_website_list_93 *{margin:0;padding:0;}
#Yocms_website_list_93 .header{border-bottom: 1px solid #357ebd;width: 100%;height: 55px;border-top-left-radius: 25px;border-top-right-radius: 25px;}
#Yocms_website_list_93 span {height: 30px;font-size: 15px;margin: 10px;padding: 2px;display: block;float: left;width: 110px;text-align: left;line-height: 35px;}
#Yocms_website_list_93 .close{color:red;font-size:30px;width:45px;height:45px;float:right;font-family: cursive;cursor: pointer;border-radius: 20px;text-align: center;margin-top: 6px;}
#Yocms_website_list_93 .close:hover{background-color: #9c9c9c;}
#Yocms_website_list_93 ul {padding: 10px 0 5px;padding-left: 12px;list-style: none;}
#Yocms_website_list_93  ul li {display: block;float: left;margin: 2px 0;text-align: center;width: 100px;height: 50px;-moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius: 15px;list-style: none;}
#Yocms_website_list_93  ul li a {display: block;font: 14px/1.14 Simsun,Arial;line-height: 45px;height: 45px;-moz-border-radius: 15px;-webkit-border-radius: 40px;border-radius: 24px;background: #FAA5A5;width: 72px;margin-left: auto;margin-right: auto;cursor: pointer;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-webkit-transform: scale(0.9);-moz-transform: scale(0.9);-o-transform: scale(0.9);-webkit-box-shadow: 0 0 10px #FAA5A5;-moz-box-shadow: 0 0 10px #FAA5A5;box-shadow: 0 0 10px #FAA5A5;overflow: hidden;text-decoration: none;color: #333;}
#Yocms_website_list_93  ul li a:hover {text-decoration: none;font-size: 2em;
   // color: #fff;
   // -webkit-transform: scale(1.5);
   // -moz-transform: scale(1.5);
    //-o-transform: scale(1.5);
}
#Yocms_website_list_93 .footer{padding: 10px;font-size: 12px;color: #999;text-align: left;float: left;clear: both;border-bottom-left-radius: 25px;border-bottom-right-radius: 25px;width: 95%;}
