@CHARSET "UTF-8";
/*商家列表的样式*/
.ListStore *{margin:0;padding:0;overflow:hidden;}
.ListStore{border: 1px solid #ccc;border-radius: 20px;display:block;margin:0 auto; width:250px; position:relative;clear:both;overflow:auto}
.ListStore .header{border-bottom: 1px solid #357ebd;width: 100%;height: 55px;border-top-left-radius: 25px;border-top-right-radius: 25px;overflow: hidden;}
.ListStore span {height: 30px;font-size: 15px;margin: 10px;padding: 2px;display: block;float: left;width: 85px;text-align: left;line-height: 35px;color:#357ebd;font-family: cursive;}
.ListStore .close{color:red;font-size:30px;width:45px;height:45px;float:right;font-family: cursive;cursor: pointer;border-radius: 20px;text-align: center;margin-top: 6px;}
.ListStore .close:hover{background-color: #9c9c9c;}
.ListStore a{color:#555;text-decoration:none;outline:none;blr:this.onFocus=this.blur();}
.ListStore a:hover{color:#000;text-decoration:underline;}
.ListStore .clear{height:0;overflow:hidden;clear:both;}
.ListStore h4{font-size:14px;height:27px;line-height:27px;padding-left:10px;border-bottom:#ddd 1px solid;}
.ListStore ul{padding:5px 10px;}
.ListStore ul li{overflow:hidden;list-style:none;box-shadow: 10px 10px 10px 10px #FCCFCF; border-radius: 38px; margin: 1px;  background: #f0f0f0;line-height: 45px;text-align: center;width: 94%;}
.ListStore ul li:last-child{margin-bottom: 20px;}
.ListStore ul li a:hover{text-decoration: underline;color: #D80321;}
.ListStore .footer{padding: 10px;font-size: 12px;color: #999;text-align: left;float: left;clear: both;border-bottom-left-radius: 25px;border-bottom-right-radius: 25px;width:90%;}